#auth-element {
  margin-top: 30px;
  max-width: 500px;
  max-height: 300px;
}
#tab-login,
#tab-register,
#tab-link{
  cursor: pointer;
}
#tab-link{
  font-weight: bold;
}
.invalid,
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.reset-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.btn { 
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
