<div class="container">
  <h1 class="text-center mb-4">Information Page</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        
        <div class="card-body" style="background-color: antiquewhite;" (click)="goNotes()">
          <h5 class="card-title">Check your notes!</h5>
          <p class="card-text">This part of this demo website let you create your own notes that are assigned to your email.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        
        <div class="card-body" style="background-color:aliceblue;" (click)="goSettings()">
          <h5 class="card-title">Settings</h5>
          <p class="card-text">This part of this demo website let you edit your account details: password and displayed name.</p>
          <p class="card-text">You can also enter settings by clicking on dropdown next to your name on right top corner!</p>
        </div>
      </div>
    </div>
  </div>
</div>
